* {
    box-sizing: border-box;
}

body {
    background-color: #EEF9BF;
}

header {
    margin: 40px auto 47px auto;
    width: fit-content;
}

h1 {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
}

#relogio {
    font-family: Roboto, sans-serif;
    font-size: 30px;
    width: calc(100% - 30px);
    text-align: right;
    color: red;
    display: block;
    margin-left: auto;
    margin-right: 30px;
}

.container-cartas {
    display: flex;
    flex-wrap: wrap;
    gap: 34px;
    width: fit-content;
    margin: 0 auto;
}

.carta {
    width: 117px;
    height: 146px;
    position: relative;
}

  .face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 5px;
    border: 1px solid #99CEA8;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
  }

  .face img {
      margin: 24px 7px 22px 10px;
      width: 100px;
      height: 100px;
  }

  .verso {
    transform: rotateY(180deg);
  }

  .carta-clicada .verso {
    transform: rotateY(0deg);
  }

  .carta-clicada .frente {
    transform: rotateY(-180deg);
  }